@charset "utf-8";

@font-face { font-family: GenEiKoburiMin-R; src: url('fonts/GenEiKoburiMin-2.1/GenEiKoburiMin-R.otf'); } 

.about {
	font-family: arial;
	font-size: 32px;
	text-align: center;
}

.kanji {
	font-family: GenEiKoburiMin-R;
	font-size: 100px;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.question {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}