@charset "utf-8";

@font-face { font-family: GenEiKoburiMin-R; src: url('fonts/GenEiKoburiMin-2.1/GenEiKoburiMin-R.otf'); } 

.about {
	font-family: arial;
	font-size: 32px;
	text-align: center;
}

.kanji {
	font-family: GenEiKoburiMin-R;
	font-size: 100px;
}


.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

#el_kanji.loaded .fadein {
    opacity: 1;
}